<h1 class="my-3">Companies</h1>
{{registrationModel|json}}
{{loginModel|json}}
<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="col">
      <div class="card-body">        
        <div *ngFor="let data of logOszlop" class="form-floating mb-3">
          <input type="text" [(ngModel)]="loginModel[data]" class="form-control" [id]="data" placeholder="name@example.com">
          <label [for]="data">{{data}}</label>
        </div>
        <button (click)="signIn()" type="button" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">      
      <div class="card-body">        
        <div *ngFor="let data of regOszlop" class="form-floating mb-3">
          <input type="text" [(ngModel)]="registrationModel[data]" class="form-control" [id]="data" placeholder="name@example.com">
          <label [for]="data">{{data}}</label>
        </div>
        <button (click)="signUp()" type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
  </div>

  <button (click)="getUsers()" type="button" class="btn btn-primary">Users</button>
  <!-- {{users|json}} -->
  <div *ngFor="let user of users" class="row">
  <div class="col">{{user.id}}</div>
  <div class="col">{{user.userName}}</div>
   <div class="col">{{user.roles}}</div> 
  </div>

  
  <button (click)="getCompanies()" type="button" class="btn btn-primary">Companies</button>
  {{companies|json}}
</div>